    <div class="container">

        <h1>API-nycklar</h1>

        <%
        if @users
            @users.each do |user|
        %>

            <dl>
                <dt><%= user.app[:title] %></dt>
                <dd><%= simple_format(user.app[:description]) %></dd>
                <dd><b>E-post:</b> <%= user.email %></dd>
                <dd><b>Nyckel:</b> <%= user.app[:key] %></dd>
            </dl>

            <p>
                <%= link_to 'Radera', { :controller  => 'apps', :action => 'delete', :key => user.app[:key] }, :class => 'btn btn-danger' %>
            </p>

        <%
            end
        elsif @app
        %>

            <dl>
                <dt><%= @app.title %></dt>
                <dd><%= simple_format(@app.description) %></dd>
                <dd><b>Nyckel:</b> <%= @app.key %></dd>
            </dl>

            <%= link_to 'Radera', { :controller => 'apps', :action => 'delete' }, :class => 'btn btn-danger' %>

        <%
        else
        %>

            <p>
                Inga nycklar hittades.
            </p>

            <p>
                <%= link_to 'Skapa ny applikation', apps_create_path, :class => 'btn btn-success' %>
            </p>

        <%
        end
        %>

    </div>
