    <div class="container">

        <h1>API-nycklar</h1>

        <%
        if @users
            @users.each do |user|
        %>

            <dl>
                <dt><%= user.app[:title] %></dt>
                <dd><%= simple_format(user.app[:description]) %></dd>
                <dd><b>E-post:</b> <%= user.email %></dd>
                <dd><b>Nyckel:</b> <%= user.app[:key] %></dd>
            </dl>

            <a href="/apps/delete/<%= user.app[:key] %>" class="btn btn-danger">Radera</a>

        <%
            end
        elsif @app
        %>

            <dl>
                <dt><%= @app.title %></dt>
                <dd><%= simple_format(@app.description) %></dd>
                <dd><b>Nyckel:</b> <%= @app.key %></dd>
            </dl>

            <a href="/apps/delete" class="btn btn-danger">Radera</a>

        <%
        else
        %>

            <p>
                Inga nycklar hittades.
            </p>

            <p>
                <a href="/apps/create" class="btn btn-success">Skapa ny applikation</a>
            </p>

        <%
        end
        %>

    </div>
